
header {
  border: solid 1px;
  height: 70px;
  width: 100%;
  position: relative;
}

.back-container {
  border: solid 1px;
  position: absolute;
  height: 85%;
  width: 98%;

}

.profile-container {
  border: solid 1px;
  display: inline-block;
  width: 50%
}

.text-container {
  border: solid 1px;
  display: inline-block;

}

