* {
  margin: 0;
}
.div-button {
  width: 40px;
  height: 40px; 
  left: 50%;
  top: 50%;
  margin-top: 37%;
  border: solid 3px;
  position: relative;
}

.button-container {
  border: solid 4px;
  width: 40px;
  height: 40px; 
  left: 50%;
  top: 50%;
  opacity: 0;
}