
.container-fluid {
  padding: 20px;
}

.navbar-right {
  width: 50%;
}

a.dropdown-toggle {
  width: 338.5px;
}

a.dropdown-toggle.the-down {
  width: 287.5px;
}

.btn-danger {
  width: 100%;
}

.search-form {
  width: 100% !important;
}
